<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<%- model_class = Recipe -%>
<div class="page-header">
  <h1 style="font-family:Indie Flower">Recipes</h1>
  <h6 class="text-center">Recipes in database: <span class="badge"><%= @recipes.count %></span></h6>
</div>



<div class="container-fluid">
    <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading clickable">
          <h3 style="font-family:Indie Flower" class="panel-title"><strong style="color:grey"><%= link_to recipe.name, recipe, style:'color:#161616' %></strong> by <%= link_to recipe.user.username, recipe.user %></h3>
        </div>
        <div style="font-family:Indie Flower" class="panel-body">
          <%= recipe.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
