<%# navigation styled for Bootstrap 3.0 %>
<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Home', root_path, class: 'navbar-brand' %></li>
  <li role="presentation"><%= link_to 'Recipes', recipes_path, class: 'navbar-brand' %></li>
  <li role="presentation"><%= link_to 'Ingredients', ingredients_path, class: 'navbar-brand' %></li>
</ul>
