<div class="jumbotron" style="background:black">
  <h1>BestRecipe</h1>
  <p class="text-center">Everything you could ever want concerning food</p>
  <p class="text-center"><%= button_to 'Explore', recipes_path, :method => 'get',:class => "btn btn-primary btn-lg" %></pX>
</div>
